<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <!--<add name="DMSConnection" connectionString="Data Source=minidms; Initial Catalog=OnlineDMS; User Id=dmsuser; Password=DmsJ@n123#;Pooling=false;Connect Timeout=120;Application Name=PerformTest" providerName="System.Data.SqlClient"/>-->

    <!--<add name="DMSConnection" connectionString="Server=10.41.1.6;User Id=dmsuser; Pwd=DmsJ@n123#;Initial Catalog=OnlineDMS_UAT; Pooling=True;Max Pool Size=2500;Connect Timeout=200;Application Name=PerformTest" providerName="System.Data.SqlClient" />-->

    <add name="DMSConnection" connectionString="Data Source=10.121.213.114; Initial Catalog=OnlineDMSTest; User Id=sa; Password=advtvs123#;Pooling=false;Connect Timeout=120;" providerName="System.Data.SqlClient"/>
    
    <!--<add name="SqlPortalCon" connectionString="Data Source=10.121.2.235;Initial Catalog= ADVTVS;User Id=TASKUSER; Password=SGHT^$t@sk2856!;Pooling=false; Connect Timeout=120;" providerName="System.Data.SqlClient"/>-->
    <add name="RetailsConn" connectionString="Data Source=TVSMHNT43;Initial Catalog= RETAILS;User Id=retailsuser; Password=Techno#23;Pooling=false; Connect Timeout=120;" providerName="System.Data.SqlClient"/>
    <add name="VectorConnection" connectionString="Data Source=10.121.3.207; Initial Catalog=VectorFlow_Staging; User Id=vctprousr; Password=^3)T0rPrO$t@g3Usr;Pooling=false;Connect Timeout=120;" providerName="System.Data.SqlClient"/>
    <add name="TravelConn" connectionString="Data Source=tvsmhnt43;Initial Catalog= TRAVELNEW;User Id=nt43; Password=Mana8e;Pooling=false; Connect Timeout=120;" providerName="System.Data.SqlClient"/>

    <!--<add name="DMSConnection" connectionString="Data Source=10.121.213.114; Initial Catalog=OnlineDMSTest; User Id=sa; Password=advtvs123#;Pooling=false;Connect Timeout=360;Application Name=PerformTest" providerName="System.Data.SqlClient" />-->
    <add name="SqlPortalCon" connectionString="Data Source=10.121.3.225; Initial Catalog=ADVTVS_TEST;User Id=sa; Password=advtvs123#;Pooling=false; Connect Timeout=120;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="From" value="GETDATE()-1000"/>
    <add key="To" value="GETDATE()"/>
    <!--DMS 1124 start-->
    <add key="Airtel" value="1"/>
    <add key="AirtelSMS1" value="http://103.255.217.28:15181/BULK_API/SendMessage?loginID=tvsmotor_htuser&amp;password=tvsmotor@123&amp;mobile="/>
    <add key="AirtelSMS2" value="&amp;text="/>
    <add key="AirtelSMS3" value="&amp;senderid=TVSMTR&amp;DLT_TM_ID=1001096933494158"/>
    <add key="AirtelSMS4" value="&amp;DLT_CT_ID="/>
    <add key="AirtelSMS5" value="&amp;DLT_PE_ID=1601100000000004424&amp;route_id=DLT_SERVICE_IMPLICT"/>
    <add key="AirtelSMS6" value="&amp;Unicode="/>
    <add key="AirtelSMS7" value="&amp;camp_name=TvsMotor_TUser"/>
    <!--DMS 1124 end-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>